.dropdown-container {
    font-size: 12px;
}


.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding: 3px 0px 3px 5px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    background: var(--gray-color);
    color: var(--font-color-dark);
    user-select: none;
    position: relative;
    max-width: 100%;
    word-break: break-all;
    border: none;
    font-size: 12px;

    &.sm {
        font-size: 10px;
    }

    .dropdown-arrow {
        width: 1em;
        height: 1em;
    }



    &.activate {
        background: var(--primary-color);
        color: var(--white-color);
    }

    .clear-icon {
        width: 1em;
        height: 1em;

        background: #aea6a6;
        border-radius: 50%;
        margin-left: 8px;

        @media (prefers-color-scheme: dark) {
            background: #4d5156;
        }
    }

}



@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}