@import '@/assets/styles/common.css';

.container {
  width: 650px;
  max-height: 500px;
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: var(--base-spacing);
  justify-content: stretch;
  border-radius: var(--radius);
}

.title {
  text-align: center;
  font-size: medium;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-shadow: 0 0.5px 0.5px var(--shadow-color-light);
}

.explain {
  display: flex;
  justify-content: flex-start;
}

.action-group {
  display: flex;
  justify-content: space-between;
}

.site-list {
  display: flex;
  padding: 16px;
  height: 322px;
  overflow: scroll;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-content: start;
  border-radius: var(--radius-lg);
  border: 1px dotted red;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}