@import '@/assets/styles/common.css';

.container {
  width: 350px;
  max-height: 500px;
  height: auto;
  padding: var(--padding-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  justify-content: stretch;
  border-radius: var(--radius-md);
}

.title {
  text-align: center;
  font-size: medium;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-shadow: 0 0.5px 0.5px var(--shadow-color-light);
}

.explain {
  display: flex;
  justify-content: flex-start;
}

.action-group {
  display: flex;
  justify-content: space-between;
}

.site-list {
  display: flex;
  padding: 16px;
  min-height: 100px;
  overflow: scroll;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-content: start;
  border-radius: var(--radius-lg);
  border: 1px dotted red;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}