.text-input {
  border: none;
  outline: none;
  box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
    0 0 0 0.5px var(--shadow-color-light);
  border-radius: var(--radius-md);
}

.text-input:focus {
  box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
    0 0 0 0.5px var(--shadow-color-light),
    0 0 0 1.5px var(--outline-color);
}

.icon-input {
  position: relative;

  .input-label {
    display: flex;
    height: 100%;
    top: 0;
    position: absolute;
    left: 5px;
    align-items: center;
  }

  .text-input {
    width: 214px;
    height: 22px;
    text-indent: 24px;
  }

  .input-icon {
    width: 15px;
    height: 15px;
  }
}





@media (prefers-color-scheme: dark) {

  /* Dark Mode styles go here. */
  .container {
    background: var(--bg-dark);
  }

  .text-input {
    box-shadow: 0 0.5px 2.5px 0 rgba(255, 255, 255, 0.1),
      0 0 0 0.5px rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-md);
  }

  .text-input:focus {
    box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
      0 0 0 0.5px rgba(255, 255, 255, 0.3),
      0 0 0 1.5px rgba(255, 255, 255, 0.3);
  }
}