.text-input {
  border: none;
  outline: none;
  box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
    0 0 0 0.5px var(--shadow-color-light);
  border-radius: var(--radius);
}

.text-input:focus {
  box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
    0 0 0 0.5px var(--shadow-color-light),
    0 0 0 1.5px var(--input-outline-color);
}

.icon-input {
  position: relative;
}


.icon-input .text-input {
  width: 214px;
  height: 22px;
  text-indent: 24px;
}

.icon-input .input-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
}


@media (prefers-color-scheme: dark) {

  /* Dark Mode styles go here. */
  .container {
    background: var(--dark-bg);
  }

  .text-input {
    box-shadow: 0 0.5px 2.5px 0 rgba(255, 255, 255, 0.1),
      0 0 0 0.5px rgba(255, 255, 255, 0.1);
    border-radius: var(--radius);
  }

  .text-input:focus {
    box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
      0 0 0 0.5px rgba(255, 255, 255, 0.3),
      0 0 0 1.5px rgba(255, 255, 255, 0.3);
  }
}