.site-box {
  display: flex;
  align-items: center;
  font-size: var(--button-font-size);
  font-weight: 300;
  padding: var(--button-padding);
  border-radius: var(--radius-sm);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  background: var(--button-bg-secondary);
  color: var(--button-text-secondary);
  user-select: none;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;

  &.sm {
    font-size: var(--button-font-size-sm);
  }

  &.include {
    background: var(--primary-color);
    color: var(--white-color);
  }

  .delete-icon {
    position: absolute;
    height: 100%;
    padding: 0 1px;
    right: -100%;
    background: var(--button-bg-warning);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 999;
    transition: all 0.3s ease-out;
  }

  &:hover .delete-icon {
    right: 0;
    display: initial;
    transition: all 0.3s ease-in;
  }
}