.site-box {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  padding: 3px 5px;
  border-radius: var(--radius-sm);
  box-shadow: 0 0.5px 2.5px 0 var(--shadow-color-heavy),
    0 0 0 0.5px var(--shadow-color-light);
  cursor: pointer;
  background: var(--gray-color);
  color: var(--font-dark-color);
  user-select: none;
  position: relative;
  max-width: 100%;
  word-break: break-all;
  border: none;

  &.sm {
    font-size: 10px;
  }




  &.include {
    background: var(--primary-color);
    color: var(--white-color);
  }

  &.exclude {
    background: var(--destructive-color);
    color: var(--white-color);
  }

  .delete-icon {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
    z-index: 999;
  }

  &:hover .delete-icon {
    display: initial;
    animation: grow 0.3s ease-in forwards;
  }
}

@keyframes grow {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.3);
  }
}