.site-box {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  font-size: var(--button-font-size);
  font-weight: 300;
  padding: var(--button-padding);
  border-radius: var(--radius-sm);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  background: var(--button-bg-secondary);
  color: var(--button-text-secondary);
  user-select: none;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;

  &.sm {
    font-size: var(--button-font-size-sm);
  }

  &.include {
    background: var(--primary-color);
    color: var(--white-color);
  }

  .delete-icon {
    order: -1;
    background: var(--button-bg-warning);
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 0;

  }

  &:hover .delete-icon {
    width: 1.2em;
    transition: all 0.3s ease-in;
  }
}