.dropdown-menu {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 999;
    background-color: var(--white-color);
    color: var(--font-color-dark);

    @media (prefers-color-scheme: dark) {
        /* Dark Mode styles go here. */
        background-color: var(--bg-dark);
        color: var(--white-color);
    }

    .dropdown-list {
        list-style: none;
        margin: 0;
        padding: 3px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #ccc;

        @media (prefers-color-scheme: dark) {
            border: 1px solid #ccc;
        }

        &.sm {
            font-size: 10px;
        }

        .list-item {
            padding: 2px;
            cursor: default;

            &:hover {
                background-color: var(--primary-color);
                color: var(--white-color);
            }
        }
    }
}