:root {
  color-scheme: light dark;
  --primary-color: #007aff;
  --secondary-color: #ffffff;
  --destructive-color: #ff3b30;
  --white-color: #ffffff;
  --shadow-color-heavy: rgba(0, 0, 0, 0.3);
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-color-light: rgba(0, 0, 0, 0.05);
  --gray-color: rgba(217, 217, 217, 0.47);
  --input-outline-color: rgba(128, 188, 255, 0.5);
  --base-spacing: 16px;
  --page-padding: 20px;
  --container-radius: 10px;
  --radius-sm: 3px;
  --radius: 5px;
  --radius-lg: 10px;
  --font-dark-color: rgba(0, 0, 0, 0.85);
  --dark-bg: #1f1f1f;
}

body {
  font-family: system-ui;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;

}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}