@import '@/assets/styles/common.css';

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 10px;
  gap: 4px;
  justify-content: flex-start;
  align-content: start;
  max-height: 16px;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.2s ease-out;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.container:hover {
  max-height: 200px;
  overflow: scroll;
  transition: all 0.15s ease-in;
}

/* hide the dropdown border of google search */
.xtSCL {
  border: none !important;
}

@media (prefers-color-scheme: dark) {}